{% extends "typeguru/layout.html" %}
{% load static %}
{% block body %}
  <div id="content-section" class="max-w-5xl px-8 lg:px-0">
    <div class="w-full">
      <div class="flex items-baseline justify-between w-full text-[#676e8a] pb-4">
        <div id="timer" class="text-2xl"></div>
        <div class="flex gap-4">
          <button class="mode" data-mode="easy">Easy</button>
          <button class="mode" data-mode="intermediate">Inter</button>
          <button class="mode" data-mode="advance">Advance</button>
        </div>
        <div class="flex gap-4 border border-[#676e8a] px-4 py-0.5 font-bold rounded-lg">
          <button class="time outline-none" data-time="15">15</button>
          <button class="time outline-none" data-time="30">30</button>
          <button class="time outline-none" data-time="60">60</button>
        </div>
      </div>
      <div id="text-container"
           class="max-w-4xl h-40 text-justify text-[#676e8a] text-[1.7rem] [&>div]:inline-block"></div>
    </div>
  </div>
  <div id="result-section"
       class="text-center text-[#676e8a] text-[1.7rem] flex">
    <input type="hidden" id="result_csrf_token" value="{{ csrf_token }}">
    <p id="wpm"></p>
    <p id="accuracy"></p>
    <p id="time"></p>
  </div>
  <div id="settings-section"
       class="hidden text-[#676e8a] max-w-5xl px-8 lg:px-0 mx-auto">
    <p class="text-xl py-8">Make changes to your settings</p>
    <div class="flex gap-4 justify-start items-start">
      <div class="flex-1">
        <p class="text-xl">Test Difficulty</p>
        <p class="text-lg text-slate-300">
          Normal is the classic type test experience. Expert fails the test if you submit (press space) an incorrect word. Master fails if you press a single incorrect key (meaning you have to achieve 100% accuracy).
        </p>
      </div>
      <div class="flex justify-center gap-4 text-slate-200">
        <button data-difficulty="normal"
                class="difficulty py-1.5 w-24 bg-[#1b1e2c] hover:bg-[#f5f5f5] rounded-lg transition-all ease-in-out duration-300">
          Normal
        </button>
        <button data-difficulty="expert"
                class="difficulty py-1.5 w-24 bg-[#1b1e2c] hover:bg-[#f5f5f5] rounded-lg transition-all ease-in-out duration-300">
          Expert
        </button>
        <button data-difficulty="master"
                class="difficulty py-1.5 w-24 bg-[#1b1e2c] hover:bg-[#f5f5f5] rounded-lg transition-all ease-in-out duration-300">
          Master
        </button>
      </div>
    </div>
  </div>
  <script type="module" src="{% static 'typeguru/app.js' %}?v=0"></script>
{% endblock %}
