{% extends "typeguru/layout.html" %}
{% load static %}
{% block body %}
  <div id="content-section" class="max-w-5xl">
    <div class="px-16 w-full">
      <div class="flex items-baseline justify-between w-full text-[#676e8a] pb-4">
        <div id="timer" class="text-2xl"></div>
        <div class="flex gap-4 border border-[#676e8a] px-4 py-0.5 font-bold rounded-lg">
          <button class="time outline-none" data-time="15">15</button>
          <button class="time outline-none" data-time="30">30</button>
          <button class="time outline-none" data-time="60">60</button>
        </div>
      </div>
      <div id="text-container"
           class="max-w-4xl h-40 text-justify text-[#676e8a] text-[1.7rem] [&>div]:inline-block"></div>
    </div>
  </div>
  <div id="result-section"
       class="text-center text-[#676e8a] text-[1.7rem] flex">
    <input type="hidden" id="result_csrf_token" value="{{ csrf_token }}">
    <p id="wpm"></p>
    <p id="accuracy"></p>
    <p id="time"></p>
  </div>
  <div id="settings-section" class="hidden text-[#676e8a] max-w-4xl mx-auto">
    <p class="text-xl">Test Difficulty</p>
    <div class="flex gap-4 mt-4 border w-fit p-4">
      <button data-mode="easy" class="difficulty">Easy</button>
      <button data-mode="intermediate" class="difficulty">Intermediate</button>
      <button data-mode="expert" class="difficulty">Expert</button>
    </div>
  </div>
  <script type="module" src="{% static 'typeguru/app.js' %}?v=1"></script>
{% endblock %}
