{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}TypeGuru - TouchTyping{% endblock %}
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
          rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'typeguru/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  </head>
  <body class="bg-[#121520] flex md:flex-col justify-between items-center h-screen">
    <nav class="hidden md:flex justify-between items-center mx-auto text-center w-full max-w-5xl text-[#676e8a] px-8 lg:px-0 py-4">
      <a href="{% url 'index' %}" class="text-3xl">TypeGuru</a>
      <ul class="flex text-base gap-4">
        <li id="leaderboardButton">
          <button data-modal-target="leaderboardModal"
                  data-modal-toggle="leaderboardModal">LeaderBoard</button>
        </li>
        <li id="settings-button" class="cursor-pointer">Settings</li>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'account' %}">Profile</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li>
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <div class="hidden md:block flex-1 px-8 lg:px-0 w-full">
      {% block body %}{% endblock %}
    </div>
    <footer class="hidden md:block text-center text-[#676e8a] py-4 text-base w-full bg-[#121520]">
      <a href="https://github.com/TheJazzDev/typeguru"
         target="_blank"
         rel="noopener noreferrer">Github</a>
         <p class="inline-block pl-8">Press <span class="bg-white py-0.5 px-1.5 rounded-md text-sm font-semibold">Tab Key</span> to start a new test!</p>
    </footer>
    <p id="mobile-warning"
       class="md:hidden text-white p-2 text-center text-2xl px-4">
      Please access this website on a desktop for the best experience.
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  </body>
</html>
